body,
html {
    padding: 0;
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
}

@font-face {
    font-family: "MarkPro";
    src: url("../public/assets/fonts/markpro/MarkPro.otf");
}

@font-face {
    font-family: "Nunito";
    src: url("../public/assets/fonts/nunito/Nunito-Light.ttf");
}

@font-face {
    font-family: "SanFranciscoDisplay";
    src: url("../public/assets/fonts/nunito/Nunito-Light.ttf");
}