.header {
  width: 100%;
  background-image: url("../public/assets/img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 30px;
  padding-right: 150px;
  margin-bottom: 74px;
}

.loginButton{
  width: 100px;
  height: 36px;
  margin: 0 20px 0 0;
  padding: 8px 18px;
  border-radius: 18px;
  border: solid 1px #fff;
  background-color: transparent;
  color: #fff;
}

.headerLogoContainer{
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}
.headerLogo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 100%;
}
.headerTextContainer{
  padding-left: 25px;
  padding-right: 25px;
}
.headerText{
  width: 100%;
}

.searchBarContainer{
  flex: 1;
  display: flex;
  justify-content: center;

}

.searchBar{
  max-width: 806px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.searchButton{
  width: 160px;
  height: 56px;
  padding: 16px 50px 15px;
  border-radius: 28px;
  background-color: #fff;
  border: 0px;
}

.info{
  font-family: MarkPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  text-decoration: underline;
}

.headerBar{
  display: flex;
  flex: 1;
  flex-direction: row;
  min-height: 96px;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  background-color: rgba(107, 121, 152, 0.05);
}
.popularSearchButtonList{
  display: flex;
  flex-direction: row;
  gap: 17px;
  flex-wrap: wrap;
  justify-content: center;
 
}
.popularSearchButton{
  height: 50px;
  padding: 15px 26px 15px 30px;
  border-radius: 28px;
  border: solid 1px rgba(191, 191, 191, 0.7);
  background-color: #e9e9e9;
  position: relative;
}


.popularSearchButtonList button:last-child::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, rgba(238, 238, 238, 0), #f7f8fa 86%);
  border-radius: 28px;
}

.popularSearchButtonList button:last-child{
  background: linear-gradient(#e9e9e9, #e9e9e9) padding-box, linear-gradient(to right, rgba(191, 191, 191, 0.7), #f7f8fa 100%) border-box;
  border-radius: 28px;
  border: 1px solid transparent;
}



.popularSearch{
  font-family: MarkPro;
  font-size: 20px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666768;
}

.populerSearchButtonSpan{
  font-family: MarkPro;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666768;
}

.container{
  background: url("../public//assets/img/group-13.png") left 125px no-repeat,url("../public//assets/img/group-19.png") right 50% no-repeat,url("../public//assets/img/group-12.png") left bottom no-repeat;
  padding: 42px 150px 42px 150px;
}
.sectionOneTitle{
  font-family: MarkPro;
  font-size: 20px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666768;
}

.sectionOneContent::-webkit-scrollbar {
  background: transparent; /* make scrollbar transparent */
  -webkit-appearance: none;
  width: 0;
  height: 0;
}
.sectionOneContent{
  padding: 15px 0 15px 0;
  border-radius: 8px;
  border: solid 1px #ccc;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x;

}
.sectionOne{
  position: relative;
  margin-bottom: 40px;
}
.prevButton{
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: -19px;
  cursor: pointer;
  border: 0px;
}
.nextButton{
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  right: -19px;
  cursor: pointer;
  border: 0px;
}


.box{
  min-width: 189px;
  padding-right: 46px;
  padding-top: 23px;
  padding-bottom: 23px;
  border-right: solid 1px rgba(107, 121, 152, 0.2);
}

.contentTitle{
  font-family: MarkPro;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666768;
}

.jobTitle{
  font-family: MarkPro;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6b7998;
}

.sectionTwo{
  display: flex;
  flex: 1;
  flex-direction: row;
  min-height: 325px;
  gap: 32px;
  margin-bottom: 40px;
}
.sectionTwoContent{
  display: flex;
  flex: 1;
}

.sectinThree{
  display: flex;
  flex: 1;
  min-height: 280px;
  flex-direction: column;
  padding: 18px 0 18px 0;
  border-radius: 20px;
  background-color: #f7f6f6;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}
.sectinThreeContent{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.sectinThreeBox{
  display: flex;
  width: 136px;
  height: 95px;
  justify-content: center;
  align-items: center;
}
.sectionFour{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
}
.sectionFourTitle{
  font-family: MarkPro;
  font-size: 24px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666768;
}
.sectionFourContent{
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 100px;
  flex-wrap: wrap;
}

.sectionFourContentList{
  list-style: none;
  padding: 0;
}

.sectionFourContentList li:first-child{
  font-family: MarkPro;
  font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666768;
  margin-bottom: 5px;
}
.sectionFourContentList li:last-child{
  font-family: MarkPro;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #666768;
}
.sectionFourContentBox{
  display: flex;
  flex: 1;
}

.footer{
  display: flex;
  flex: 1;
  padding: 30px 150px;
  background-color: #626160;
  flex-direction: row;
  flex-wrap: wrap;
}
.footerRight{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 40px;
}
.footerRightContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footerLeft{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 40px;
}
.footerLeftContent{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.footerLeftList{
  list-style: none;
  padding: 0;
  display: flex;
}
.footerLeftContentTitleWrap{
  display: flex;
  align-items: center;
}
.footerLeftContentTitle{
  font-family: MarkPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.footerLeftList li{
  font-family: MarkPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  border-right: 1px;
  position: relative;
  padding-right: 23px;
}

.footerLeftList li::before{
  position: absolute;   

  width: 1px;
  height: 20px;
  margin: 0 -12px;
  border-radius: 0.5px;
  background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    content: "";
}

.footerLeftList li:first-child::before{
  display: none;
}
.footerLeftIskur{
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.footerLeftIskur p{
  max-width: 450px;
  font-family: MarkPro;
  font-size: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #fff;
}
.footerSelect{
  background-color: transparent;
  border: 0;
  font-family: MarkPro;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.footerSelect option{
   font-family: MarkPro;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}



@media only screen and (max-width: 475px) {
.footer{
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box{
  padding-right: 10px;
}
.prevButton{
  display: none;
}
.nextButton{display: none;}

}


@media only screen and (max-width: 992px) {
  .login{
    justify-content: center;
    padding-right: 0;
  }
  .searchBar{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 300px;
  }
  .search-input{
    width: auto;
  }
  .container{
    padding: 42px 50px 42px 50px;
  }
  .footerLeftList{
    flex-wrap: wrap;
  }
  .footerLeftContent{
    flex-direction: column;
    gap: 10px;
  }
  .footerRightContent{
    flex-direction: column-reverse;
  }
  .footerLeftList li::before{
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .sectionTwo{
    flex-direction: column;
  }
  .sectionFourContent{
    justify-content: center;
    gap: 50px;
  }
  .titleWrap{
    text-align: center;
  }
  .headerBar{
    padding: 20px;
  }
}

@media only screen and (max-width: 1400px) {

  .sectionFourContent{
    gap: 50px;
  }
  .footerLeftContent{
    justify-content: center;
  }
  .footerLeftIskur{
    justify-content: center;
    flex-wrap: wrap;
  }
}